// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Ubuntu Regular';
  src: url("../fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf");
}

@font-face {
 font-family: 'Montserrat Bold';
src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}