{% extends "core.html.twig" %}

{% block content %}
    <a href="{{ root }}">Terug naar home</a>
    <ul>
        {% for country in countries %}
            <li>{{ country }}</li>
        {% endfor %}
    </ul>
{% endblock %}

