{% extends "core.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col">
				<a href="{{ root }}" class="btn btn-primary mb">Terug naar home</a>
				<div class="h1">Zoek izjn land.</div>

				<form action="{{ root }}cruds/searchCountry2.php" method="post">
					<div class="form-group">
						<select class="form-control" id="exampleFormControlSelect1" id="country" name="country">
							{% for country in countries %}
								<option value="{{ country }}">
									{{ country }}
								</option>
							{% endfor %}

							<input type="submit" value="verzenden" class="btn btn-primary mt">
						</select>
					</div>
				</form>
			</div>
		</div>


	</div>
{% endblock %}

